<div class="col-md-4 col-xs-12">
	<div class="row">
		<div class="col-12 headingSize3 fontBold">
			ADDRESS:
		</div>
		<div class="col-12 headingSize3">
			<div class="row">
				<div class="col-1">
					<i class="text-primary fa fa-home" aria-hidden="true"></i>
				</div>
				<div class="col">#10, pattanagere village, opposite to old Manipal hospital, Rajarajeshwari, nagar, Bengaluru, Karnataka 560098</div>
			</div>
		</div>
		<div class="col-12 headingSize3 fontBold">
			PHONES:
		</div>
		<div class="col-12 headingSize3">
			<div class="row">
				<div class="col-1">
					<i class="text-primary fa fa-mobile" aria-hidden="true"></i>
				</div>
				<div class="col">
					098803 69118
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<i class="text-primary fa fa-mobile" aria-hidden="true"></i>
				</div>
				<div class="col">
					098862 54448
				</div>
			</div>
		</div>
		<div class="col-12 headingSize3 fontBold">
			E-MAIL:
		</div>
		<div class="col-12 headingSize3">
			<div class="row">
				<div class="col-1">
					<i class="text-primary fa fa-envelope" aria-hidden="true"></i>
				</div>
				<div class="col">
					support@technokraft.in
				</div>
			</div>
		</div>
		<div class="col-12 headingSize3"></div>
	</div>
</div>