<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
		
	<title>TechnoKraft</title>
		
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/mdb.min.css" rel="stylesheet">
		
		
	<!-- smooth scrolling CSS -->
	<link href="css/scrolling-nav.css" rel="stylesheet">
	<link href="css/technokraft.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/528180e039.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Varela+Round" rel="stylesheet">
</head>