<!-- Couraser -->
<section id="mainCourser" class="carouselMain">
	<!--Carousel Wrapper-->
	<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
		<!--Slides-->
		<div class="carousel-inner" role="listbox">
			<!--First slide-->
			<div class="col carousel-item active">
				<img src="https://livedemo00.template-help.com/joomla_59094/images/slider/slide-2.jpg" alt="First slide">
				<div class="carousel-caption flex-center">
					<div>
						<div class="corsalSmall">QUALITY CAR</div>
						<div class="corsalBig fontBold">MAINTENANCE</div>
					</div>
				</div>
			</div>
			<!--/First slide-->
			<!--Second slide-->
			<div class="col carousel-item">
				<img src="https://livedemo00.template-help.com/joomla_59094/images/slider/slide-3.jpg" alt="Second slide">
				<div class="carousel-caption flex-center">
					<div>
						<div class="corsalSmall">COMPLETE</div>
						<div class="corsalBig fontBold">AUTO SERVICE</div>
					</div>
				</div>
			</div>
			<!--/Second slide-->
			<!--Third slide-->
			<div class="col carousel-item">
				<img src="https://livedemo00.template-help.com/joomla_59094/images/slider/slide-1.jpg"  alt="Third slide">
				<div class="carousel-caption flex-center">
					<div>
						<div class="corsalSmall">YOUR ONE STOP</div>
						<div class="corsalBig fontBold">CAR CARE SERVICE</div>
					</div>
				</div>
			</div>
			<!--/Third slide-->
		</div>
		<!--Controls-->
		<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->
</section>
	
<!--main button start-->
<section class="mainButton">
	<div class="container">
		<div class="row">
			<div class="col-3 d-flex ">
				<a href="http://localhost/LearBootStrap/technokraft/bookAService.php" class="btn info-color text-white">
					<div class="col-9">
						<img src="icons/service.svg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col label">
						<span class="buttonText">COMPLETE</span>
						<div class="clearfix"></div>
						<span class="buttonText">SERVICE</p>
					</div>
				</a>
			</div>
			<div class="col-3 d-flex ">
				<a href="http://localhost/LearBootStrap/technokraft/bookAService.php" class="btn info-color text-white">
					<div class="col-9">
						<img src="icons/engine.svg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col label">
						<span class="buttonText">ENGINE</span>
						<div class="clearfix"></div>
						<span class="buttonText">REPAIR</span>
					</div>
				</a>
			</div>
			<div class="col-3 d-flex ">
				<a href="http://localhost/LearBootStrap/technokraft/bookAService.php" class="btn info-color text-white">
					<div class="col-9">
						<img src="icons/chassis.svg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col label">
						<span class="buttonText">CHASSIS</span>
						<div class="clearfix"></div>
						<span class="buttonText">REPAIR</span>
					</div>
				</a>
			</div>
			<div class="col-3 d-flex ">
				<a href="http://localhost/LearBootStrap/technokraft/bookAService.php" class="btn info-color text-white">
					<div class="col-9">
						<img src="icons/paint.svg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col label">
						<span class="buttonText">CAR BODY</span>
						<div class="clearfix"></div>
						<span class="buttonText">REPAIR</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!--main button ends-->
	
<!-- About Section -->
<section id="general" class="general-section">
	<div class="container text-grey">
		<div class="row text-center heading">	
			<div class="col-12">
				<div class="headingSize1">
					TECHNOKRAFT CAN HANDLE ALL OF
				</div>
			</div>
			<div class="col-12">
				<div class="fontBold headingSize2">
					<span class="text-primary">
						YOUR CAR REPAIR
					</span>
					<span class="text-info">
						SERVICE INCLUDING
					</span>
				</div>
			</div>
		</div>
		<div class="row heading footer text-primary">	
			<div class="col">
				<ul>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">COMPUTER DIAGNOSTICS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">COMPLETE SAFETY ANALYSIS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">DRIVABILITY PROBLEMS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">TUNE-UPS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">STEERING AND SUSPENSIONS</div>
						</div>
					</li>
						
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">TIRES</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">EMISSION REPAIR FACILITY</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">AIR CONDITIONING SERVICE</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">ELECTRICAL SYSTEMS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">FLEET MAINTENANCE</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">ENGINE WORK</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">STATE INSPECTIONS</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">BRAKE REPAIR SPECIALISTS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">MUFFLERS AND EXHAUST SYSTEM</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">OIL CHANGES</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">ALIGNMENTS</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">FUEL SYSTEM SERVICES</div>
						</div>
					</li>
					<li>
						<div class="row align-items-center">
							<i class="col-1 fa fa-check" aria-hidden="true"></i>
							<div class="col serviceText">COOLANT SYSTEMS</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
	
<section id="about" class=" about-section ">
	<!--First section-->
	<div class="row">
		<div class="container-fluid">
			<div class="col backGroundImage">
				<div class="text-center heading footer">
					<div class="headingSize1">ABOUT</div>
					<div class="headingSize2 fontBold">TECHNOKRAFT</div>
					<p class="serviceText footer">If you have a problem with your car, we'll quickly and effectively eliminate the problem, perform all work connected with the repair of your vehicle, efficiently and inexpensive. We are ready to provide you with a full range of services for warranty and post-warranty maintenance and repair of any car.</p>
				</div>
			</div>
			<div class="col text-center text-grey heading footer">
				<div class="headingSize1">CAR MANUFACTURERS</div>
				<div class="headingSize2 fontBold">
					<span class="text-primary">
						WE WORK
					</span>
					<span class="text-info">
						WITH
					</span>
				</div>
			</div>
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand1.jpg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand2.jpg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand3.jpg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand4.jpg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand5.jpg" class="img-fluid" alt="Responsive image">
					</div>
					<div class="col">
						<img src="https://livedemo00.template-help.com/joomla_59094/images/brands/brand6.jpg" class="img-fluid" alt="Responsive image">
					</div>
				</div>
			</div>
		</div>
</section>
	
<section id="desc" class=" desc-section text-grey heading footer">
	<div class="container">
		<div class="text-center headingSize1">WHAT</div>
		<div class="text-center headingSize2 fontBold footer"><span class="text-primary">PEOPLE</span><span class="text-info"> SAY</span></div>
		<div class="row">
			<div class="col talk-bubble tri-right bg-faded btm-left-in">
				<div class="talktext serviceText">
					<p>I have been using TECHNOKRAFT for two years now. They keep my Swift in tip top condition.</p>
				</div>
			</div>
				
			<div class="col talk-bubble tri-right bg-faded btm-left-in">
				<div class="talktext serviceText">
					<p>Everyone here is professional and they treat you like a person unlike many of the name brand shops. They are honest and will work with you.</p>
				</div>
			</div>
			<div class="col talk-bubble tri-right bg-faded btm-left-in">
				<div class="talktext serviceText">
					<p>Good, reliable service is offered here - with attention to detail and with clear communication about possible problems I should be aware of.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col mention">
				<h4 class="fontBold serviceText  text-primary">AKSHAY</h4>
			</div>
			<div class="col mention">
				<h4 class="serviceText text-primary fontBold">NASEERUDDIN</h4>
			</div>
			<div class="col mention">
				<h4 class="serviceText text-primary fontBold">BHARATH</h4>
			</div>
		</div>
	</div>
</section>
	
<section id="contact" class="contact-section special-color text-white">
	<div class="container-fluid">
		<div class="container heading footer">
			<div class="row">
				<div class="col-md-6 colxs-12">
					<div class="col-12 contactLabel noPadding ">
						TECHNOKRAFT
					</div>
					<div class="col-12 serviceText noPadding">
						<p>Our goal is to gain your trust and confidence so that when you leave the shop, you are certain that your vehicle has been properly repaired by highly trained and certified technicians.</p>
					</div>
				</div>
				<div class="col">
					<div class="col-12 noPadding contactLabel">
						Address
					</div>
					<div class="col-12 noPadding">
						<div class="col-12 serviceText noPadding">
							<i class="fa fa-map-marker text-info contactIcon" aria-hidden="true"></i>
							#10, pattanagere village, opposite to old Manipal hospital, Rajarajeshwari, nagar, Bengaluru, Karnataka 560098
						</div>
						<div class="col-12 serviceText noPadding">
							<i class="fa fa-phone text-info contactIcon" aria-hidden="true"></i>
							<span>098803 69118</span><span class="padding5">098862 54448</span> 
						</div>
						<div class="col-12 serviceText noPadding">
							<i class="fa fa-clock-o text-info contactIcon" aria-hidden="true"></i>
							Mon-Sat 9:00 am to 8:00 pm
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>