
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top colorWhite">
	<div class="container justify-content-between">
		<button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars bg-primary"></span>
		</button>
		<a class="navbar-brand page-scroll title" href="http://www.technokraft.co/">TechnoKraft</a>
			
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="text-primary collapse navbar-toggleable-xs navbar-collapse navigationItems align-self-end pull-xs-right" id="navbarNav1">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a class="page-scroll" href="#page-top"></a>
				</li>
					
				<li class="nav-item active">
					<a class="btn btn-flat page-scroll " href="http://www.technokraft.co/">Home</a>
				</li>	
				<!--						<li class="nav-item dropdown" >
					
											Dropdown default
											<div class="dropdown nav-item">
												Trigger
												<button class="btn btn-flat text-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown default</button>
												Menu
												<div class="dropdown-menu dropdown-default">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
											/Dropdown default
										</li>-->
				<li class="nav-item">
					<a class="btn btn-flat page-scroll " href="http://www.technokraft.co/bookAService.php">Book Service</a>
				</li>
					
				<li class="nav-item">
					<a class="btn btn-flat page-scroll " href="#gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-flat page-scroll" href="http://www.technokraft.co/contact.php">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>