.swiper-slide-caption>div {
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
    color: #ffffff;
    display: inline-block;
    max-width: 80%;
    padding-bottom: 7%;
    vertical-align: middle;
    text-transform: uppercase;
}

body{
    margin: 0;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    line-height: 34px;
    color: #777777;
    background-color: #ffffff
}